<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Inicio'}) %>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
<script>
	document.addEventListener( 'DOMContentLoaded', function () {
		var splide = new Splide( '.splide', {
			'type' : 'loop',
			'width' : '100%',
			'autoHeight' : true,
			'autoplay'    : true,
			'pauseOnHover' : true,
			'focus' : 'center',
			'gap' : 0,
			'easing' : 'ease',
			'speed' : 250,
			'interval' : 3000,
		} )
		splide.mount();
	} );
</script>


<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->
	
	<!-- Banner -->
	<section class="banner">
		<div class="splide">
			<div class="splide__track">
				<ul class="splide__list">
					<li class="splide__slide"><a href="#"><img src="/images/img-home-banner.jpg" alt="banner principal"></a></li>
					<li class="splide__slide"><a href="#"><img src="/images/banner.jpg" alt="banner 1"></a></li>
					<li class="splide__slide"><a href="#"><img src="/images/banner2.jpg" alt="banner 2"></a></li>
					<li class="splide__slide"><a href="#"><img src="/images/banner3.jpg" alt="banner 3"></a></li>
					<li class="splide__slide"><a href="#"><img src="/images/banner4.jpg" alt="banner 4"></a></li>
					<li class="splide__slide"><a href="#"><img src="/images/banner5.jpg" alt="banner 5"></a></li>
				</ul>
			</div>
		</div>
	</section>
	
	<!-- /Banner -->

	<!-- ultima visita -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Basado en tu última visita</h2>
			</div>
			<!-- Show the "visited" products -->
			<% products.forEach(product => { %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products/<%= product.id %>">
						<figure class="product-box_image">
							<img src="<%= product.photo %>" alt="imagen de producto">
						</figure>
						<article class="product-box_data">
							<h2>$ <%= toThousand(parseInt(product.price)) %></h2>
							<% if (product.discount > 0) { %>
								<span><%= product.discount %> % OFF</span>
								<% } %>
							<p><%= product.title %></p>
							<i class="fas fa-truck"></i>
						</article>
					</a>
				</section>
			</div>
			<% }); %>
		</div>
	</div>
	<!-- /ultima visita -->

	<!-- Ofertas -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ofertas</h2>
			</div>
			<!-- Show the "in-sale" products -->
			<% products.forEach(product => { %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products/<%= product.id %>">
						<figure class="product-box_image">
							<img src="<%= product.photo %>" alt="imagen de producto">
						</figure>
						<article class="product-box_data">
							<h2>$ <%= toThousand(parseInt(product.price)) %></h2>
							<% if (product.discount > 0) { %>
								<span><%= product.discount %> % OFF</span>
								<% } %>
							<p><%= product.title %></p>
							<i class="fas fa-truck"></i>
						</article>
					</a>
				</section>
			</div>
			<% }); %>
		</div>
	</div>
	<!-- /Ofertas -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>