<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Avatar Usuario'}) %>
<body>
	<!-- Header -->
	<%- include('../partials/headerNavbar') %>
	<!-- /Header -->

	<!-- user profile -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Perfíl de usuario</h2>
			</div>
		</div>
    <% if (typeof locals.user != 'undefined') { %>
    <h3>¡Bienvenido <%= user.email %>!</h3>
	<p>Haz click sobre la imagen para cambiar tu avatar</p>
    
    <form action="/avatar/upload" method="POST" enctype="multipart/form-data">
        
        <label for="avatar">  
            <% if (locals.user.avatar != undefined) { %>
            <img src="/images/users/<%= user.avatar %>" class="avatarDetail" alt="Avatar de usuario">
        <% } else { %>
            <img src="/images/users/default-avatar.jpg" class="avatarDetail" alt="Avatar de usuario">
            <% } %>
        </label>

        <input type="file" name="avatar" id="avatar" required>
        <button type="submit">Guardar cambios</button>

    </form>
    <% } %>
    <!-- /user profile -->

	<!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->

</body>	
</html>