<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Iniciar Sesión'}) %>
<script src="/js/login.js" defer></script>
<body>
	<!-- Header -->
	<%- include('../partials/headerNavbar') %>
	<!-- /Header -->

	<!-- login form -->
    <div class="container user-forms">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Inicio de sesión</h2>
			</div>
		</div>
		<div class="col-12">
			<form action="/users/login" method="POST" id="loginForm">
				<div class="product-detail">
					<div class="user-forms-inputs">
						<label for="user" class="form-label">Dirección de Email:</label>
						<input type="text" id="user" name="user" placeholder="Ingresa tu dirección de email aquí" class="form-input" <% if (typeof email != 'undefined') { %> value="<%= email %>"<% } %>>
						<div id="userError"></div>
						<% if (typeof errors != "undefined") {
							errors.forEach ( error => { 
								if (error.param == "user") { %>
									<p class="form-messages-validate"><%= error.msg %></p>
							<% } }) } %>
					</div>
                    
                    <div class="user-forms-inputs">
						<label for="password" class="form-label">Contraseña:</label>
						<div class="form-input passwordContainer">
							<input type="password" id="password" class="password" name="password" placeholder="Ingresa tu contraseña aquí" >
							<div id="showPassword" class="showPassword">
								<i class="fas fa-eye"></i>
							</div>
						</div>
						<div id="passwordError"></div>
						<% if (typeof errors != "undefined") {
							errors.forEach ( error => { 
								if (error.param == "password") { %>
									<p class="form-messages-validate"><%= error.msg %></p>
							<% } }) } %>
						</div>

					<div class="remember-checkbox">
						<input type="checkbox" name="remember" id="remember">
						<label for="remember">Mantener mi sesión iniciada</label>
					</div>
					
					<div class="col-12">
						<button type="submit" class="buy-now-button">Iniciar sesión</button>
					</div>
				</div>
			</form>
		</div>

	</div>
    <!-- /login form -->

	<!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->

</body>	
</html>