<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Perfil Usuario'}) %>
<body>
	<!-- Header -->
	<%- include('../partials/headerNavbar') %>
	<!-- /Header -->

	<!-- user profile -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="user-form-title">Perfíl de usuario</h2>
			</div>
		</div>
    <% if (typeof locals.user != 'undefined') { %>

    <h3 class="d-flex justify-content-center" style="font-size: 1.5em;">¡Bienvenido <%= locals.user.email %>!</h3>
	<a href="/avatar/upload" class="d-flex justify-content-center">
		<% if (locals.user.avatar != undefined) { %>
			<img src="/images/users/<%= locals.user.avatar %>" class="avatarImg" alt="Avatar de usuario">
		<% } else { %>
			<img src="/images/users/default-avatar.png" class="avatarImg" alt="Avatar de usuario">
			<% } %>
	</a>
	<% if (locals.user.role == 'admin') { %>
		<h2 class="d-flex justify-content-center" style="font-size: 1.7em;">Rol: Administrador</h2>
	<% } else { %>
		<h2 class="d-flex justify-content-center" style="font-size: 1.7em;">Rol: Usuario</h2>
	<% } %>
	<p class="d-flex justify-content-center" style="font-size: 1.5em;">Fecha de registro: <%= new Date(locals.user.created_at).toLocaleString() %> </p>
	<p class="d-flex justify-content-center" style="font-size: 1.5em;">Email: <%= locals.user.email %></p>

    <% } %>
    <!-- /user profile -->

	<!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->

</body>	
</html>