<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Perfil Usuario'}) %>
<body>
	<!-- Header -->
	<%- include('../partials/headerNavbar') %>
	<!-- /Header -->

	<!-- user profile -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Perfíl de usuario</h2>
			</div>
		</div>
    <% if (typeof locals.user != 'undefined') { %>
    <h4>¡Bienvenido <%= locals.user.email %>!</h4>
	<p>Fecha de registro: <%= new Date(locals.user.created_at).toLocaleString() %> </p>
	<p>Email: <%= locals.user.email %></p>
    <% } %>
    <!-- /user profile -->

	<!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->

</body>	
</html>