<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Registrarse'}) %>
<body>
	<!-- Header -->
	<%- include('../partials/headerNavbar') %>
	<!-- /Header -->

	<!-- register form -->
    <div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registro de usuario</h2>
			</div>
		</div>
		<div class="col-12">
			<form action="/users/register" method="POST">
				<div class="product-detail">
					<div class="col-12 col-md-6">
						<label for="user" class="form-label">Dirección de Email:</label>
						<input type="text" id="user" name="user" placeholder="Ej: ejemplo@gmail.com" class="form-input" <% if (typeof mail != 'undefined') { %> value="<%= mail %>"<% } %>>
						<% if (typeof errors != "undefined") {
							errors.forEach ( error => { 
								if (error.param == "user") { %>
									<p><%= error.msg %></p>
							<% } }) } %>
					</div>
                    
                    <div class="col-12 col-md-6">
						<label for="password" class="form-label">Contraseña:</label>
						<input type="password" id="password" name="password" placeholder="Ingrese su contraseña" class="form-input">
						<% if (typeof errors != "undefined") {
							errors.forEach ( error => { 
								if (error.param == "password") { %>
									<p><%= error.msg %></p>
							<% } }) } %>
					</div>
					
					<div class="col-12">
						<button type="submit" class="buy-now-button">Registrarse</button>
					</div>
				</div>
			</form>
		</div>

	</div>
    <!-- /register form -->

	<!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->

</body>	
</html>